@import './common/var.scss';
@import './mixin/index.scss';
@import './animate/index.scss';

.ii_input {
  &-group {
    position: relative;
  }
  &-input {
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
    display: inline-block;
    flex-grow: 1;
    text-align: inherit;
    font:inherit;
    vertical-align: bottom;
  }
  &-container{
    display: flex;
    position: relative;
    border-bottom: $input-border;
    padding: $padding-s 0;
    &::after{
      content: ' ';
      position: absolute;
      bottom: -1px;
      height: 2px;
      width: 100%;
      background: #673ab7;
      display: block;
      opacity: 0;
      transform: scaleX(.3);
      transition: transform $duration $transtion-function;
    }
  }
  &-label-warp{
    height: 100%;
    padding-top: .85em;
    position: absolute;
    top: -.85em;
    font:inherit;
    pointer-events: none;
    width: 100%;
    overflow: hidden;
  }
  &-label{
    @include ell;
    color: rgba(0, 0, 0, 0.54);
    position: absolute;
    left: 0;
    padding-top: $padding-s;
    transform-origin: 0 0; 
    transition: transform $duration $transtion-function ,color $duration $transtion-function;
  }
}

.ii_input-group--focus,.ii_input-group--has{
  .ii_input-label{
    transform:translateY(-1.28125em) scale(.75) perspective(100px) translateZ(.001px);
  }
  .ii_input-container::after{
    transform: scaleX(1);
    opacity: 1;
  }
}
.ii_input-group--focus{
  .ii_input-label{
    color: #673ab7;
  }
}
.ii_input-group--invalid{
  .ii_input-label,.ii_input-error{
    color: $color-warn;
  }
  .ii_input-container{
    border-bottom-color: $color-warn;
  }
  .ii_input-container::after{
    background-color:$color-warn; 
  }
}