/* Color
-------------------------------------- */
$white: #fff;

$color-warn: #f44336;

/* Padding
-------------------------------------- */
$padding-s: 7px;
$padding: 20px;
/* Border
------------------------------------ */
$border-width: 1px;
$border-color: #666;
$border-style: solid;

/* Input
------------------------------------- */
$input-border: $border-width $border-style $border-color;
